*{margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }
  body{
      /* background: #080808; setting background colour */
      background-color: #095a55;
      color: #fff;
  }
  header{
      width: 100%;
      height: 100vh;
      background-size: cover;
      background-position: center;
  }
  .active-links{
      color: rgb(249, 221, 5);
  }
  .container{
      padding: 10px 10%;
  }
  nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .logo{
      width: 65px; /*determining logo width*/
      height: 65px;
      object-fit: cover;
      border-radius: 30px;
  
  }
  nav ul li{ /*working for list*/
      display: inline-block;
      list-style: none;
      margin: 10px 20px;
  }
  nav ul li a{
      color: #fff;
      text-decoration: none; /* Removing text underline*/
      font-size: 18px;
      position: relative;
  }
  nav ul li a::after{
      content: ' ';
      width: 0;
      height: 3px;
      background: rgb(238, 191, 6);
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.5s;
  }
  nav ul li a:hover::after{
      width: 100%;
  }
  .header-text{
      margin-top: 20%;
      font-size: 30px;
  
  }
  .header-text h1{
      font-size: 60px;
      margin-top: 20px;
  
  }
  .header-text h1 span{
      color: gold;
  
  }
  footer {
      text-align: center;
      margin-top: 50px;
    }
  
  @media (max-width: 600px)
  {
      .container .contactForm
      {
          padding: 25px;
      }
  
      .container .contactInfo{
          padding: 25px;
          flex-direction: column;
          align-items: flex-start;
      }
  
      .container .contactInfo ul.sci
      {
          margin-top: 40px;
      }
  
      .container .contactForm .formBox .inputBox.w50
      {
          width: 100%;
      }
  }
    
  
  